  <br>

  <h3>Please fill out the form below to be added to our mailing list</h3>
  
  <div class="container">
  
  <form action="/signup" method="post">
    <input type="text" name="name" placeholder="Enter Name"><br>
    <input type="email" name="email_address" placeholder="Enter Email"><br>
    <input type="submit" value="Signup">
  </form>

  <br><br>

</div>