  <div class="cupcake-image">
    <div class="cupcake-text">
      <h1>Cupcake</h1>
      <!-- <p>And I'm a Photographer</p>
      <button>Hire me</button> -->
    </div>
  </div>  

  <div id = "box">
    <div class="row">

      <div class="col l4 m6 s12">
        <div class="${ panelColor }">
          <div class="card">
            <div class="card-image">
              <img src="/images/banana-cupcake.jpg" width="400" height="400" alt="">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Banana Cupcake</p>
            </div>
            <div class="card-action">
              <span>$5.00</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col l4 m6 s12">
        <div class="${ panelColor }">
          <div class="card">
            <div class="card-image">
              <img src="/images/strawberry-cupcake.jpg" width="400" height="400" alt="">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Strawberry Cupcake</p>
            </div>
            <div class="card-action">
              <span>$5.00</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col l4 m6 s12">
          <div class="${ panelColor }">
            <div class="card">
              <div class="card-image">
                <img src="/images/chocolate-cupcake.jpg" width="400" height="400" alt="">
                <span class="card-title"></span>
              </div>
              <div class="card-content">
                <p>Chocolate Cupcake</p>
              </div>
              <div class="card-action">
                <span>$5.00</span>
              </div>
            </div>
          </div>
        </div>  

    </div>

  </div>