  <div class="hero-image">
      <div class="hero-text">
        <h1>Georgie Porgie's Pies</h1>
        <!-- <p>And I'm a Photographer</p>
        <button>Hire me</button> -->
      </div>
    </div>  
